<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="" class="brand-logo">Logo</a>
            <ul class="right">
                <li><a href="./">Etusivu</a></li>
                <li><a href="./event_add.php">Lisää tapahtuma</a></li>
                <li><a href="./event_change.php">Muuta tapahtuma</a></li>
                <li><a href="./event_delete.php">Poista tapahtuma</a></li>
                <li><a href="./manage.php">Hallitse</a></li>
            </ul>
        </div>
    </nav>
</header>